@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');


@media (min-width : 600px) {
    .mobileNavbar {
        display: none;
    }
}

.mobileNavbar {
    color: black;
    position: fixed;
    bottom: 0px;
    right: 0px;

    font-size: 11px;

    background-color: whitesmoke;
    width: 100%;
    box-shadow: 2px 2px 20px black;

    height: 50px;

    z-index: 1000;
}

.mobileNavbar>ul>li>a {
    /* font-family: 'Inter', sans-serif; */
    color: black;
    font-weight: bolder;
    padding: 5px 5px;
    text-align: center;
    margin: auto;
    text-shadow: 2px 2px 10px gray;
}



.focus-link {
    background-color: transparent;
    color: red;
    font-weight: bolder;
}