@media (max-width : 600px) {
    .navbar {
        display: none;
    }
}


.navbar>ul>li {
    margin: 10px;
}

.navbar>ul>li>a {
    font-family: 'Inter', sans-serif;
    color: black;
    font-weight: bold;
}

.focus-link {
    border: 3px solid royalblue;
    border-radius: 20px;
    background-color: transparent;
    color: black;
    font-weight: bold;
}